<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} NAMI Urban LA Resource Page {% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/litera/bootstrap.min.css" integrity="sha384-enpDwFISL6M3ZGZ50Tjo8m65q06uLVnyvkFO3rsoW0UC15ATBFz3QEhr3hmxpYsn" crossorigin="anonymous">
</head>
<body>
    <style>

    body {
        background-color: white;
        color: black;
        background-image: url("NAMI_logo.png");
        background-repeat: no repeat;
        background-size: 3500px 100px;
    }

    footer {
        position: relative;
        margin-top: 8%;
        bottom: 0%;
        width: 100%;
    }
    </style>

    <h1 class="text-center">NAMI Urban LA Resource Page Search Engine</h1>

    <div class="text-center" style="margin: 2%"> 
        <img src="../static/img/NAMI_logo.png">
    </div>
    
    {% block content %}
    {% endblock %}

    <div id="footer-container">
        <footer class="text-center" id="footer">
            <b>Visit the NAMI Urban LA Website:
                <p><a href="https://www.namiurbanla.org/">www.namiurbanla.org</a></p>
            </b>
        </footer>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
</body>
</html>