{% extends 'base.html' %}

{% block title %} NAMI Urban LA Resource Page {% endblock %}

{% block content %}

<div class="text-center" style="border: black;">

<b> Check Out These Links for  {{ category_name }}:</b>

<!-- <h3> {{ resourceList }} </h3> -->
<ul style="list-style-type: none;">
    {% for resource in resourceList %}
        <li style="list-style-type: none;"><a href="{{ resource }}">{{ resource }}</a><li>
    {% endfor %}
</ul>


</div>

<div class="text-center" style="margin: 2%">
    <a class="btn btn-secondary text-white bg-dark" 
    href="/" role="button"> Back to Homepage</a>
</div>

{% endblock %}